@{
    ViewBag.Title = "About";
}

<!-- about -->
<style>
    body {
        background-color: #1a1a37;
    }
</style>
<!-- contact -->
<section class="section bg-gray" style="margin-top:100px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img class="img-fluid w-100 mb-4 mt-5" src="~/Images/WhatsApp Image 2023-02-20 at 19.49.50.jpg" alt="about image">
                <h2 class="section-title">ABOUT OUR JOURNY</h2>
                <p>
                    Alandalus University is a private university located in Jordan. The university was established in 2018 and offers a range of undergraduate and graduate programs in various fields, including business, engineering, law, and education.

                    The mission of Alandalus University is to provide a high-quality education that is designed to meet the needs of both the individual student and society as a whole. The university aims to foster a culture of excellence, innovation, and lifelong learning, and to produce graduates who are capable of making meaningful contributions to their communities and the world.

                    Alandalus University places a strong emphasis on research and innovation, and has established several research centers and institutes focused on areas such as renewable energy, artificial intelligence, and entrepreneurship. The university also provides a range of support services to help students succeed academically and personally, including tutoring, counseling, and career services.

                    Overall, Alandalus University is a relatively new institution, but it has already established a reputation for academic excellence and innovation in Saudi Arabia and the wider region.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- /about -->
<!-- funfacts -->
<section class="section-sm bg-primary">
    <div class="container">
        <div class="row">
            <!-- funfacts item -->
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                <div class="text-center">
                    <h2 class="count text-white" data-count="60">0</h2>
                    <h5 class="text-white">TEACHERS</h5>
                </div>
            </div>
            <!-- funfacts item -->
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                <div class="text-center">
                    <h2 class="count text-white" data-count="50">0</h2>
                    <h5 class="text-white">COURSES</h5>
                </div>
            </div>
            <!-- funfacts item -->
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                <div class="text-center">
                    <h2 class="count text-white" data-count="1000">0</h2>
                    <h5 class="text-white">STUDENTS</h5>
                </div>
            </div>
            <!-- funfacts item -->
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                <div class="text-center">
                    <h2 class="count text-white" data-count="3737">0</h2>
                    <h5 class="text-white">SATISFIED CLIENT</h5>
                </div>
            </div>
        </div>
    </div>
</section>